body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  background-color: #eeece9;
  overflow-y: scroll;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.container h2 {
  color: #4b4beb;
  transition: color 0.5s ease-out;
}

.container:hover h2 {
  color: black;
  transition: color 0.5s ease-in;
}

.container:hover {
  cursor: pointer;
}

.container:hover .icon-plus {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.container:not(:hover) .layout:focus .icon-close {
  opacity: 0;
}

.icon-plus,
.icon-close {
  position: absolute;
  top: -1rem;
  right: 1rem;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.layout {
  margin: 1rem 0;
}

.layout .image {
  height: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}

.layout:hover .image,
.layout:focus .image,
.layout:focus-within .image {
  height: 34rem;
  visibility: visible;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.layout:focus {
  outline: none;
}

.layout:focus h2 {
  color: #000;
}

.layout:focus .icon-close {
  opacity: 1;
}

.layout:focus .icon-plus {
  opacity: 0;
}

.layout:hover .icon-plus {
  opacity: 0;
}

.layout:hover .icon-close {
  opacity: 1;
}

.layout:active {
  cursor: crosshair;
}

.line {
  border-bottom: 1px solid #d4cece;
}

.title {
  position: relative;
}

.title h2 {
  margin: 0;
  padding: 1rem;
  max-width: 80%;
}

.image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border: 1px solid rgb(95, 95, 94);
}

@media screen and (max-width: 320px) {
  body {
    font-size: 0.75rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .layout:hover .image,
  .layout:focus .image,
  .layout:focus-within .image {
    height: 8rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 820px) {
  body {
    font-size: 1.25rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .layout:hover .image,
  .layout:focus .image,
  .layout:focus-within .image {
    height: 20rem;
  }
}